/* ------------------------
    Footer
------------------------*/

.footer {
  padding: 80px 0;
  position: relative;
}

.primary-footer {
  position: relative;
  z-index: 99;
  font-size: 16px;
  color: $white;
}

.secondary-footer {
  color: #636160;
  font-weight: normal;
}

.footer-logo img {
  height: 70px;
}

.footer-cntct {
  padding: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.media-icon {
  &.list-inline li {
    display: inline-block;
  }
  li {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      font-size: 30px;
      color: $white;
      vertical-align: middle;
      line-height: 30px;
    }
    a {
      color: $white;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.footer-list {
  li {
    margin-bottom: 15px;
    text-transform: capitalize;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      position: relative;
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }
  }
  .list-inline li {
    display: inline-block;
    margin: 0 10px;
  }
}

.copyright span {
  color: $white;
  background: rgba(0, 0, 0, 0.03);
  padding: 5px;
  border-radius: 5px;
  a {
    color: $white;
  }
}