
//    Font Family

$body-font : 'Nunito', sans-serif;

/*--------------------------- Color variations ----------------------*/

$theme-color	: #03d665;
$theme-color2 : #7329c2;
$title-color	: #322f55;
$body-color		: #7f7f7f;
$white			: #ffffff;
$black			: #322f55;
$grey			: #999999;
$rgba			: rgba(255,255,255,0.8);


/*--------------------------- background Color variations ----------------------*/

$themebg : #03d665;
$themebg2 : #7329c2;
$darkbg : #0d092c;
$whitebg : #ffffff;
$greybg : #f8fcff;